/* Style général du body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Style de la barre de navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fixe la navbar en haut de la page */
    top: 0; /* La position fixe commence en haut */
    left: 0;
    width: 100%; /* S'assure que la navbar occupe toute la largeur */
    z-index: 1000; /* S'assure que la navbar est au-dessus du reste du contenu */
}

/* Ajoute un espacement en haut lors du défilement vers des ancres */
html {
    scroll-padding-top: 130px; /* Ajustez cette valeur en fonction de la hauteur de la navbar */
}

/* Style du logo */
.logo img {
    height: 50px;
}

/* Style des liens de navigation */
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 0px;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff66c4;
}

/* Bouton hamburger (menu mobile) */
.hamburger {
    display: none; /* Masqué par défaut */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
    position: absolute; /* Permet un placement précis */
    top: 50%; /* Centre verticalement par rapport à la navbar */
    left: 50%; /* Décale le bouton vers la gauche */
    transform: translateY(-50%); /* Centre verticalement */
    z-index: 1001; /* Place le bouton au-dessus des autres éléments */
}


.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #333;
    border-radius: 3px;
    transition: all 0.3s ease;
}

/* Responsive pour les petits écrans */
@media screen and (max-width: 1024px) {
    .navbar {
        padding: 10px 15px;
    }
    
    .logo img {
        height: 40px;
    }

    .nav-links {
        display: none; /* Masque les liens par défaut */
        flex-direction: column; /* Liens empilés */
        width: 100%;
        text-align: center;
    }

    .nav-links.active {
        display: flex; /* Affiche le menu lorsqu'il est actif */
    }





    .navbar.active .overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
        z-index: 999; /* Assurez-vous que le fond est derrière le menu */
    }

    /* Style du menu qui s'affiche verticalement */
.nav-links {
    display: flex;
    flex-direction: column; /* Liens empilés verticalement */
    align-items: center;
    justify-content: center;
    position: fixed; /* Place les liens de manière fixe */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    transition: transform 0.3s ease-in-out; /* Transition fluide */
    transform: translateX(-100%); /* Masqué à gauche par défaut */
    z-index: 1000; /* Assurez-vous que les liens sont au-dessus de tout autre contenu */
}
.nav-links.active {
    transform: translateX(0); /* Affiche les liens quand le menu est actif */
}
/* Liens de navigation */
.nav-links a {
    padding: 15px 20px;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    border-bottom: 1px solid #f4f4f4;
}

.nav-links a:hover {
    color: #ff66c4;
}

/* Cacher les liens après avoir cliqué sur un */
.nav-links a.clicked {
    display: none; /* Cache le lien cliqué */
}








    .nav-links a {
        padding: 15px 20px;
        border-bottom: 1px solid #f4f4f4;
    }

    .hamburger {
        display: flex; /* Affiche le bouton hamburger */
        z-index: 1001;
    }

    .nav-links li {
        margin-right: 0; /* Réduit l'espace entre les éléments */
    }

    .hero {
        height: 80vh; /* Ajuste la hauteur du héros pour les écrans plus petits */
    }

    .hero-text {
        font-size: 2.5rem;
    }
}

/* Responsive pour les petits écrans (mobiles) */
@media screen and (max-width: 768px) {
    .navbar {
        padding: 10px 10px;
    }

    .logo img {
        height: 35px;
    }

    .nav-links {
        display: none; /* Masque les liens par défaut */
        flex-direction: column; /* Liens empilés */
        width: 100%;
        text-align: center;
    }

    .nav-links.active {
        display: flex; /* Affiche le menu lorsqu'il est actif */
    }

    .hero {
        height: 70vh; /* Ajuste la hauteur du héros pour les petits écrans */
    }

    .hero-text {
        font-size: 2rem;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .left-column, .right-column {
        max-width: 100%;
    }

    .services-container {
        flex-direction: column;
    }

    .service {
        margin-bottom: 20px;
        width: 100%;
    }

    .carousel-item {
        flex: 0 0 calc(100%); /* Affiche une seule image par écran */
    }

    .carousel-item img {
        width: 100%;
    }

    .contact-form, .contact-icons {
        width: 100%;
        max-width: none;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo img {
        max-width: 120px;
    }

    .footer-links ul {
        text-align: center;
    }

    .contact-icons-footer {
        justify-content: center;
        gap: 15px;
    }
}

/* Section d'accueil */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('image/fond.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Superposition de couleur */
.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 102, 196, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Titres dans la section hero */
.hero-text {
    font-size: 3rem;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 2s ease-out forwards;
    margin: 10px 0;
}

h2 {
    font-size: 2rem;
    margin: 10px 0;
}

h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

/* Animation de texte */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Ajoutez un margin-top au contenu principal pour éviter qu'il ne soit caché sous la navbar fixe */
main {
    padding: 20px;
    text-align: center;
    margin-top: 80px; /* Ajustez cette valeur en fonction de la hauteur de la navbar */
}

/* Contenu de la section "À propos" en deux colonnes */
.about-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Colonne gauche (image) */
.left-column {
    flex: 1;
    max-width: 500px;
}

.about-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Colonne droite (texte) */
.right-column {
    flex: 1;
    max-width: 600px;
    text-align: left;
    color: #555;
}

.right-column p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Section Nos services */
.services {
    padding: 40px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.services h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 40px;
}

/* Container pour les services */
.services-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Style pour chaque service */
.service {
    flex: 1;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
}

.service:hover {
    transform: translateY(-10px);
}

.service-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.service h3 {
    font-size: 1.5rem;
    margin: 15px 0;
}

.service p {
    font-size: 1rem;
    color: #555;
}

/* Section Nos compositions */
.compositions {
    padding: 40px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.compositions h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 40px;
}

/* Carrousel Container */
.carousel-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    animation: slide-animation 25s infinite;
    transition: transform 0.5s ease-in-out;
    width: calc(100% * (6 / 3)); /* Adapte la largeur en fonction des slides */
}

.carousel-item {
    flex: 0 0 calc(100% / 3); /* Affiche 3 images par écran */
    text-align: center;
}

.carousel-item img {
    width: 90%; /* Ajuste la taille des images à un peu moins de 100% de leur conteneur */
    height: 200px; /* Définissez une hauteur fixe pour que toutes les images aient la même taille */
    object-fit: cover; /* Assure que l'image remplit l'espace tout en conservant ses proportions */
    border-radius: 5px;
    margin: 0 auto; /* Centre les images horizontalement */
}

.carousel-item h3 {
    margin: 10px 0;
    font-size: 1rem;
}

.carousel-item p {
    font-size: 0.9rem;
    color: #555;
}

/* Section Contact */
.contact {
    padding: 40px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.contact h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 40px;
}

/* Section avec fond rose */
.contact-info {
    background-color: #FF66C4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
}

.left-title h3, .right-title h3 {
    font-size: 1.8rem;
    margin: 0;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid white;
    margin-top: 10px;
}

/* Section formulaire de contact */
.contact-form {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 30px auto;
}

.contact-form h3 {
    font-size: 2rem;
    color: #FF66C4;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#first-name {
    margin-right: 10px;
}

.form-group {
    flex: 1;
    text-align: left;
}

.form-group label {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

textarea {
    height: 150px;
    resize: vertical;
}

.submit-btn {
    background-color: #FF66C4;
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #ff3385;
}
